@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

.MainHeader {
position: absolute;
    width: 100%;
    align-self: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin-bottom: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    border-bottom: 0.1px solid #3C3C3C;
    height: 65px;
}

.MainLogo {
height: 40px;
}

.MainNavList {
display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.Mainlink {
white-space: nowrap;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.FullHeightLink {
display: flex;
    align-items: center;
    height: 100%;
    background: #1B8354;
    gap: 0.5rem;
    padding: 0 10px;
}

.linkItem {
display: flex;
    flex-direction: row;
}

.HeaderContent {
display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.DropdownIcon {
max-height: 42px;
    max-width: 12px;
}

.ContactLinkContainer {
border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ContactLink {
height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background: transparent;
    border-radius: 4px;
}

.ContactLinkContainer:hover {
background-color: #f3f4f6;
}

.ContactLinkContainer:hover .ContactLinkHighlight {
background-color: #94969c;
}

.ContactLinkContainer:hover .ContactLink {
color: #3C3C3C;
}

.ContactLinkContainer:hover .Icon {
fill: black;
}

.ContactLinkContainer:active {
background-color: #d2d6db;
}

.ContactLinkContainer:active .ContactLinkHighlight {
background-color: #61646c;
}

.ContactLinkContainer:active .ContactLink {
color: #3C3C3C;
}

.ContactLinkContainer:active .Icon {
fill: black;
}

.ContactLinkHighlight {
border-radius: 10px;
    width: 4%;
    height: 5px;
    background: transparent;
    position: absolute;
    bottom: 0;
    align-self: center;
}

.HeaderIcons {
display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: inherit;
}

.DrawerButton {
display: none !important;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
background: none;
}

.Drawer {
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DrawerHeader {
width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
background: #F9FAFB;
}

.DrawerContent {
flex: 1;
    width: 100%;
    overflow-y: auto;
padding: 1rem;
}

.CloseButton {
background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.HeaderLeft {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
}

.HeaderNav {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 0.5rem;
}

.DrawerBodyContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.DrawerLink {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    color: #161616;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    padding-bottom: 0.7rem;
    border-bottom: 0.5px solid #D2D6DB;
}
@media (max-width: 990px) {
.MainHeader {
        border: none;
    }

  .MainNavList {
      display: none;
  }

  .Mainlink {
      display: none;
      padding: 5px;
  }

  .HeaderIcons {
      display: none;
  }

  .DrawerButton {
    display: block !important;
    }
}

.dropdownIcon {
    path {
        fill: black;
    }
}

.LinkText {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}