.iconBackground {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--radius-full, 9999px);
    background: var(--Icon-Bg-icon-brand-light, #F3FCF6);
}

.icon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 1.25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}